<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trueque">
            <h2><span jhiTranslate="truequeApp.trueque.detail.title">Trueque</span> {{trueque.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="truequeApp.trueque.fecha">Fecha</span></dt>
                <dd>
                    <span>{{trueque.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="truequeApp.trueque.estado">Estado</span></dt>
                <dd>
                    <span jhiTranslate="{{'truequeApp.Estado.' + trueque.estado}}">{{trueque.estado}}</span>
                </dd>
                <dt><span jhiTranslate="truequeApp.trueque.entrega">Entrega</span></dt>
                <dd>
                    <div *ngIf="trueque.entregaId">
                        <a [routerLink]="['/producto', trueque.entregaId, 'view']">{{trueque.entregaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="truequeApp.trueque.recibe">Recibe</span></dt>
                <dd>
                    <div *ngIf="trueque.recibeId">
                        <a [routerLink]="['/producto', trueque.recibeId, 'view']">{{trueque.recibeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trueque', trueque.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
